.byte_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr;
  width: 130px;
  height: 150px;
  background-color: #454857;
  border-radius: 15px;
  border: 1px black solid;
}

.byte_container > label {
  color: #eef1ef;
  /* grid-row: 3;
  grid-column: 4; */
  justify-self: center;
}

.byte_container > button {
  width: 25px;
  height: 25px;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  /* background-color: #81c14b; */
  background-image: linear-gradient(180deg, #95d891, #74bbad);
  border: 1px #eef1ef solid;
}

.byte_container > button:active {
  background-image: linear-gradient(180deg, #568054, #74bbad);
  /* background-color: #2e933c; */
}

.HexInput {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: black;
  background-color: white;
  grid-column: 1/-1;
  grid-row: 1;
  justify-self: center;
  align-self: center;
}

.HexInput:focus {
  outline: none;
}
