h1 {
  text-align: center;
}

.number_display {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
.input_hex {
  margin-left: 50vw;
  transform: translate(-50%);
}

.byte_container {
  display: flex;
}

.radio_container {
  width: 200px;
  margin: auto;
}

.radio_input {
  display: inline-block;
  vertical-align: center;
  margin-right: 3%;
}

.radio_label {
  display: inline-block;
  vertical-align: center;
}
